<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Poker 200.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Poker HR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Poker SR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80489B2419649E9900362A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80489B4519649E9900362A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FF393219EDA2060074205A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FF398719EDA20A0074205A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
